###############################################################################
# DIRECTORIES
###############################################################################

alias s='cd ~/Sites'
alias d='cd ~/Desktop'
alias dl='cd ~/Downloads'
alias v='cd /Volumes'

###############################################################################
# MISC
###############################################################################

alias h='sudo $EDITOR /etc/hosts'

alias zs='$EDITOR ~/.zshrc'
alias dt='$EDITOR ~/.dotfiles'
alias src='source ~/.zshrc'

alias cat='bat'
alias o='open .'
alias c='clear'

alias split='vsplit_tab'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash=" \
 sudo rm -rfv /Volumes/_/.Trashes; \
 rm -rfv ~/.Trash/_; \
"

# Android Emulator
alias ae='emulator -avd Pixel_2_API_29 -netdelay none -netspeed full'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='brew update; brew upgrade; brew cleanup; sudo gem update --system; sudo gem update; sudo gem cleanup'

###############################################################################
# Git
###############################################################################

alias gs='git status'
alias gf='git fetch --all'

# Merge master into current
alias gmc='git checkout master && git pull && git checkout - && git merge master'

# Get latest changes and apply them
alias gla='git fetch --all && git reset --hard origin/master'

# Amend message for commit that's already pushed
alias gaf='git commit --amend --no-edit && git push origin master --force'

# Switch to master || main branch
alias master="git checkout main 2>/dev/null || git checkout master"

# Undo git push
alias gup="git push -f origin HEAD^:master"

# Show files that assumed-unchanged
alias gun="git ls-files -v | grep '^[[:lower:]]'"

###############################################################################
# pnpm
###############################################################################

alias pri='pnpm install'
alias prd='pnpm dev'
alias prb='pnpm build'
alias prs='pnpm start'
alias prt='pnpm stop-all'

###############################################################################
# Valet
###############################################################################

alias vstop='valet stop && valet stop dnsmasq && brew services stop mariadb '
alias vstart='valet start && brew services start mariadb'

###############################################################################
# BigCommerce Stencil-CLI
###############################################################################

alias sts='stencil start'
alias stpu='stencil push'
alias stpl='stencil pull'

###############################################################################
# Better ls
###############################################################################

alias l='eza -lah --group-directories-first --octal-permissions --icons'
alias ls='eza --group-directories-first --icons'
alias sl='aza --group-directories-first --icons'

###############################################################################
# Safe rm
###############################################################################

alias rm=trash