# Prefer EN and use UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US

# Default editor
export EDITOR="code"

# Homebrew
export HOMEBREW_CASK_OPTS="--appdir=/Applications"
export HOMEBREW_NO_AUTO_UPDATE=1

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# 1Password SSH agent
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock

# ZSH Autosuggestions style
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=#5f6370"

# Note: PATH is managed in .zshrc to avoid duplicates
# Note: PNPM_HOME and other path exports are in .zshrc
