# Prefer EN and use UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US

# Default editor
export EDITOR="code" # `brew install vscode`

# Install brew casks in Applications
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Android Emulator
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools
