# Create a new directory and enter it
function take() {
    mkdir -p "$@" && cd "$@"
}

function jpgoptim() {
  for file in $(find . -type f \( -name "*.jpg" -or -name "*.jpeg" -or -name "*.JPG" \)); do
      echo found $file for optimizing...
      jpegtran -copy none -optimize -progressive -outfile "{}.opti.jpg" $file
  done
}

# generates 32 chars long password using pwgen (`brew install pwgen`) & md5-cli (`npm i -g md5-cli`)
function pass2md5() {
  pass=$(pwgen 32 1 -sBcny)
  $(md5-cli $pass | pbcopy)
  echo $pass;
}
